.wrapper {
    padding: 20px;
}

@font-face {
    font-family: 'Game of Thrones';
    src: local('Game of Thrones'), url(../../assets/fonts/Game\ of\ Thrones.woff) format('woff');
  }
@font-face {
    font-family: 'JUSTICE LEAGUE';
    src: local('JUSTICE LEAGUE'), url(../../assets/fonts/JUSTICE\ LEAGUE.woff) format('woff');
  }
  @font-face {
    font-family: 'The Avengers';
    src: local('The Avengers'), url(../../assets/fonts/The\ Avengers.woff) format('woff');
  }